{% extends "base.html" %}
{% block content %}
        <div class="container">
          						<ul class="nav">
                   <!--      <li><input type="text" /></li> -->
            						<li ><a href="/">Home</a></li>
                        <li ><a href="/products/">Products</a></li>
                        <li class="active"><a href="#">Photos</a></li>
                        <li><a href="">Issues</a></li>
                        </ul>
        					</div>
      				</div>
    			</div>
			</div>
		  </div>
        
        <div class="sectiontitle">
        <div class="categorydropdown">
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Pick a Category <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Test</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>


        <div id="eventlist">
                {% for event in events %}
                 <ul class="thumbnails">
                        <li class="span9">
                          <div class="thumbnail">
                            <table>
                              <tr>
                                {% for photo in event.get_key_images %}
                                <td>
                                  <img alt="300x200" style="width: 300px;" src="{{ photo.smallURL }}">
                                </td>
                                {% endfor %}
                              </tr>
                            </table>
                            <div class="caption" style="float:clear;">
                                    <h3>{{ event.name }}</h3>
                                    <p>{{ event.description }}</p>
                                    <p><a href="{{ event.slug }}" class="btn">See Collection</a></p>
                            </div>
                          </div>
                        </li>
                      </ul>
                {% endfor %}
        </div>
        
      
{% endblock %}

                
                
 
