{% extends "base.html" %}

{% block content %}
        <div class="container">
          						<ul class="nav">
                   <!--      <li><input type="text" /></li> -->
            						<li class="active"><a href="#">Home</a></li>
                        <li><a href="/products/">Products</a></li>
                        <li><a href="/events/">Photos</a></li>
                        <li><a href="">Issues</a></li>
                        </ul>
        					</div>
      				</div>
    			</div>
			</div>
    </div>

                
        
{% endblock %}
