{% extends "base.html" %}
{% block content %}
                <div class="container">
          						<ul class="nav">
                   <!--      <li><input type="text" /></li> -->
            						<li ><a href="/">Home</a></li>
                        <li class="active"><a href="/products/">Products</a></li>
                        <li><a href="/events/">Photos</a></li>
                        <li><a href="">Issues</a></li>
                        </ul>
        					</div>
      				</div>
    			</div>
			</div>
		  </div>

        <div id="singleproduct">
                <p>Name: {{ product.name }}</p>
                <p>Category: {{ product.category.name }}</p>
                <p>Description: {{ product.description }}</p>
                <p>Price: {{ product.price_in_dollars }}</p>
                <p><img src="{{ product.photo.url }}"/><p>
        </div>
{% endblock %}
